spring:
  data:
    mongodb:
      uri: mongodb://admin:admin@localhost:27017/joboffers-web

job-offers:
  scheduler:
    request:
      delay: PT3H
  http:
    client:
      config:
        uri: http://ec2-3-120-147-150.eu-central-1.compute.amazonaws.com
        port: 5057
        connectionTimeout: 1000
        readTimeout: 1000

scheduling:
  enabled: true
